body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    background: linear-gradient(154deg, #F8F8FF 30% , #FF66CC 80%);
    line-height: 1.4;
    height: 100vh;
}

    @media (max-width: 768px) {
      .card {
        width: 45%;
      }
    }

    @media (max-width: 480px) {
      .card {
        width: 90%;
      }
    }


.inputpaper, .paper {
    position: relative;
    opacity: 10;
    z-index: 10;
}

.paper {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 250px;
    height: 350px;
    border-radius: 50px;
    background: linear-gradient(154deg, #FF66CC 20% , #FFFAF0 85%);
    opacity: 1;
}

.link-input {
  width: 220px;
  height: 60px;
    border-radius: 40px;
    font-size: 25px;
    color: #FF66CC;
    box-shadow: 3px 3px 2px 2px rgba(99, 8, 8, 0.2);
}

.link-input-search {
  position: absolute;
  display: grid;
  left: 90px;
  margin-top: 10px;
  box-shadow: 3px 3px 2px 2px rgba(99, 8, 8, 0.2);
    padding: 20px 20px;
    border-radius: 10px;
}

.box-blur {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
}

.particleCount {
  position: absolute;
  background: black;
  border-radius: 60%;
  z-index: 0;
  filter: blur(1px);
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-150vh);
    opacity: 0;
  }
}