body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    background: linear-gradient(154deg, #F8F8FF 40% , #FF66CC 70%);
    line-height: 1.4;
    height: 100vh;
}

.inputpaper, .paper {
    position: relative;
    opacity: 10;
}

.paper {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 450px;
    height: 400px;
    border-radius: 100px;
    background: linear-gradient(154deg, #FF66CC 20% , #FFFAF0 70%);
    opacity: 1;
}

.link-input {
    padding: 30px 20px;
    border-radius: 40px;
    font-size: 20px;
    color: #FF66CC;
}

.link-input-search {
    padding: 20px 20px;
    border-radius: 600px;
}

.box-blur {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
}