body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    background: linear-gradient(154deg, #F8F8FF 40% , #FF66CC 70%);
    line-height: 1.4;
    height: 100vh;
}

    @media (max-width: 768px) {
      .card {
        width: 45%;
      }
    }

    @media (max-width: 480px) {
      .card {
        width: 90%;
      }
    }


.inputpaper, .paper {
    position: relative;
    opacity: 10;
}

.paper {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 350px;
    height: 500px;
    border-radius: 50px;
    background: linear-gradient(154deg, #FF66CC 20% , #FFFAF0 70%);
    opacity: 1;
}

.link-input {
  width: 300px;
  height: 70px;
    border-radius: 40px;
    font-size: 30px;
    color: #FF66CC;
    box-shadow: 3px 3px 2px 2px rgba(99, 8, 8, 0.2);
}

.link-input-search {
  position: absolute;
  display: flex;
  left: 135px;
  top: 300px;
  box-shadow: 3px 3px 2px 2px rgba(99, 8, 8, 0.2);
    padding: 20px 20px;
    border-radius: 10px;
}

.box-blur {
    position: absolute;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0%;
}